.profile{
  width: 100%;
  min-height: 75vh;
  background-color: #fff;
  border-left: 4px solid rgb(7, 185, 255);
  padding: 2%;
  .user{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .userlogo{
      width: 160px;
      height: 160px;
      border: 1px solid rgb(5, 122, 255);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        border-radius: 50%;
      }
    }
    .userInfo{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      width: 100%;
      .username, .email{
        width: 40%;
        border: 1px solid rgb(196, 191, 191);
        padding: 10px;
      }
      .edit{
        all: unset;
        position: relative;
        width: 40%;
        height: 40px;
        text-align: center;
        border: 1px solid rgb(5, 122, 255);
        cursor: pointer;
        z-index: 0;
        overflow: hidden;
        transition: ease-in-out 0.5s;
        &::before{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          z-index: -1;
          background-color: rgb(5, 122, 255);
          top: 0;
          left: 0;
          clip-path: circle(0% at 50% 50%);
          transition: ease-in-out 0.5s;
        }
        &:hover::before{
          clip-path: circle(100% at 50% 50%);
        }
        &:hover{
          color: #fff;
        }
      }
      @media only screen and (max-width: 1030px) {
        .username, .email, .edit{
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
